<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <strong>ACMS</strong> - Abaad Contracting
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                        Management
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('branches') }}">Branches</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('employees') }}">Employees</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('departments') }}">Departments</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('clients') }}">Clients</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown">
                        Projects
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('projects') }}">All Projects</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('my_projects') }}">My Projects</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('work_assignments') }}">Work Assignments</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown">
                        Materials & Suppliers
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('materials') }}">Materials</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('suppliers') }}">Suppliers</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('project_materials') }}">Project Materials</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('supplier_materials') }}">Supplier Materials</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('all_queries') }}">Reports & Queries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

